@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  background: rgba(255, 255, 255, 1);
  color: rgba(24, 27, 29, 1);
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  height: auto;
}

.list {
  list-style: none;
}

button,
a {
  cursor: pointer;
}

.button:hover {
  scale: 120%;
}

.horizon-header.is-open .horizon-header-background {
  left: 0;
}
.horizon-header-button-wrapper {
  margin-left: auto;
}
.horizon-header-icon {
  display: none;
}

.horizon-header-icon-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: transparent;
  border: none;
  border-radius: 50%;
}
.horizon-navigation-list.is-open {
  right: 0;
}
.horizon-header-icon-menu {
  display: block;
}

.horizon-header-icon-button.is-open .horizon-header-icon-menu {
  display: none;
}

.horizon-header-icon-button.is-open .horizon-header-icon-close {
  display: block;
}

.horizon-header {
  position: fixed;
  width: 100%;
  z-index: 5;
  transition: background-color 0.3s ease;
  background: transparent;
  display: flex;
  height: 64px;
  background-color: rgba(0, 0, 0, 0.3);
}

.horizon-header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 100%;
  z-index: -1;
  transition: left 0.3s ease;
  background: rgba(255, 255, 255, 1);
}
.horizon-header.is-open .horizon-header-background {
  left: 0;
}
.horizon-header-button-wrapper {
  margin-right: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.horizon-header-icon-menu {
  display: block;
}

.horizon-header-icon-button.is-open .horizon-header-icon-menu {
  display: none;
}

.horizon-header-icon-button.is-open .horizon-header-icon-close {
  display: block;
}

.horizon-navigation {
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  padding: 10px 12px;
  position: relative;
}

.horizon-navigation-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 100%;
  right: -100%;
  width: 100%;
  height: 557px;
  transition: 0.3s;
  z-index: 999;
  padding: 0px 32px;
  border-radius: 0px 0px 20px 20px;
  gap: 28px;
  background: rgba(255, 255, 255, 1);
}

.horizon-navigation-list.is-open {
  right: 0;
}

.horizon-navigation-link {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 100%;
  letter-spacing: 0%;

  transition: all 0.3s ease-in-out;
  text-decoration: none;
  color: rgba(24, 27, 29, 1);
}

.horizon-navigation-link:hover,
.horizon-navigatioт-link:focus {
  text-decoration: underline;
}

.horizon-header.is-open {
  background-color: transparent;
}

.horizon-navigation-img {
  display: none;
}

@media screen and (min-width: 1200px) {
  .horizon-navigation-img {
    display: flex;
  }
  .horizon-policy-terms-header-icon-menu {
    display: none;
  }

  .horizon-header {
    width: 100%;
    height: 60px;
    padding: 10px 0px 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
  }

  .horizon-header-background {
  }
  .horizon-header-icon-button {
    display: none;
  }
  .horizon-navigation {
    display: flex;
    flex-direction: row;
    flex: 1;
    padding: 0;
    width: 1440px;
    margin: auto;
  }

  .horizon-navigation-list {
    background-color: transparent;
    flex-direction: row;
    display: flex;
    position: static;
    width: 1440px;
    margin: auto;
    padding-block: 0;
    flex: 1;
    gap: 13px;
    height: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: center;
  }

  .horizon-navigation-link {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    padding: 0px 40px;
    text-decoration: none;
  }

  .horizon-navigation-item-desk {
    display: none;
  }
}
.horizon-home {
  width: 375px;
  height: 800px;
  padding: 84px 16px 0px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/home/Home.png");
  margin: auto;
}

.horizon-home-container-top {
  display: flex;
  flex-direction: column;
  align-items: start;
  color: rgba(255, 255, 255, 1);
}

.horizon-home-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 60px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
}

.horizon-home-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}
.horizon-home-text-two {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  padding: 32px 0 16px;
}

.horizon-home-google-button-image {
  width: 192px;
  height: 64px;
}

.horizon-home-google-button-link:hover .horizon-home-google-button-image {
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

@media screen and (min-width: 1200px) {
  .horizon-home {
    width: 1440px;
    height: 800px;
    padding: 136px 100px 0px;
    background-image: url("/img/home/Home\ \(1\).png");
  }

  .horizon-home-container-top {
    width: 569px;
  }

  .horizon-home-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .horizon-home-text {
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }
  .horizon-home-text-two {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    width: 353px;
  }
}
.horizon-uniqueness {
  width: 375px;
  height: 434px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/Game\ Atmosphere.png");
}

.horizon-uniqueness-text-bold {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.horizon-uniqueness-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
  text-shadow: 0px 4px 10px rgba(0, 0, 0, 1);
  padding-top: 32px;
}

@media screen and (min-width: 1200px) {
  .horizon-uniqueness {
    width: 1440px;
    height: 593px;
    padding: 100px 398px 0;
    background-image: url("/img/Game\ Atmosphere\ \(1\).png");
  }
  .horizon-uniqueness-text-bold {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
  }

  .horizon-uniqueness-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
}
.horizon-about {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.horizon-about-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  background: linear-gradient(180deg, #5d81ff 2.27%, #8951ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.horizon-about-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  padding: 32px 0 60px;
}

.horizon-about-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  background: linear-gradient(180deg, #5d81ff 2.27%, #8951ff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.horizon-why-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 292px;
}

.horizon-why-item {
  padding-left: 8px;
  border-left: 1px solid rgba(169, 169, 169, 1);
}

.horizon-why-text-bold {
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 18px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}

.horizon-why-text {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: rgba(169, 169, 169, 1);
  padding-top: 8px;
}

@media screen and (min-width: 1200px) {
  .horizon-about {
    padding: 100px;
    width: 1440px;
  }
  .horizon-about-div {
    display: flex;
    gap: 299px;
  }
  .horizon-about-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .horizon-about-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    width: 608px;
    padding: 0px;
  }

  .horizon-about-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    padding-top: 60px;
  }

  .horizon-why-list {
    padding-top: 40px;
    display: flex;
    flex-direction: row;
    gap: 182px;
    width: auto;
  }

  .horizon-why-item {
    padding-left: 8px;
    width: 292px;
  }

  .horizon-why-text-bold {
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 18px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .horizon-why-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.horizon-how {
  width: 375px;
  height: 1188px;
  margin: auto;
  padding: 40px 16px 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/how/How\ to\ Play.png");
}
.horizon-how-title {
  -webkit-text-fill-color: #ffffff;
}
.horizon-how-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizon-how-item {
  width: 343px;
  height: 200px;
  gap: 8px;
  border-radius: 6px;
  background: rgba(51, 51, 51, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 15px 0px rgba(27, 28, 27, 0.4);
}
.horizon-how-text-bold {
  width: 341px;
  height: 50px;
  border-radius: 6px 6px 0 0;
  padding-top: 12px;

  padding-bottom: 12px;
  background: rgba(116, 116, 116, 1);
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.horizon-how-item-two {
  display: flex;
  align-items: center;
  padding-top: 8px;
  padding-left: 8px;
  gap: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  color: rgba(169, 169, 169, 1);
}
.horizon-how-img {
  width: 120px;
  height: 120px;
}

@media screen and (min-width: 1200px) {
  .horizon-how {
    width: 1440px;
    height: 952px;
    padding: 100px;
    background-image: url("/img/how/How\ to\ Play\ \(1\).png");
  }

  .horizon-how-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .horizon-how-item {
    width: 608px;
    height: 200px;
    border-radius: 6px;
  }
  .horizon-how-text-bold {
    width: 606px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
  }
  .horizon-how-item-two {
    padding: 10px 56px 0 56px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;
  }
  .horizon-how-img {
    width: 140px;
    height: 140px;
  }
}

.horizon-characters {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
  height: 364px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("/img/CTA.png");
}

.horizon-characters-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.horizon-characters-text-bold {
  background: linear-gradient(180deg, #5d81ff 2.27%, #8951ff 100%);

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.horizon-characters-text {
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}
.horizon-characters-link {
  margin: auto;
  margin-top: 32px;
}
@media screen and (min-width: 1200px) {
  .horizon-characters {
    padding: 100px 204px 0;
    width: 1440px;
    height: 460px;
    background-image: url("/img/CTA\ \(1\).png");
  }
  .horizon-characters-list {
    display: flex;
    flex-direction: column;
    gap: px;
  }

  .horizon-characters-text {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }
  .horizon-characters-link {
    margin: auto;
    margin-top: 60px;
  }
}

.horizon-reviews {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.horizon-reviews-list {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizon-reviews-item {
  width: 343px;
  height: 180px;
  padding: 24px;
  border-radius: 6px;
  background: rgba(51, 51, 51, 1);
  color: rgba(255, 255, 255, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 15px 0px rgba(0, 0, 0, 0.4);
}

.horizon-reviews-item-top {
  display: flex;
  gap: 8px;
  align-items: center;
}

.horizon-reviews-text-bold {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
}

.horizon-reviews-text {
  font-family: Poppins;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  text-align: center;
  padding-top: 16px;
}

@media screen and (min-width: 1200px) {
  .horizon-reviews {
    width: 1440px;
    padding: 100px;
  }
  .horizon-reviews-list {
    padding-top: 60px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
  }

  .horizon-reviews-item {
    width: 397px;
    height: 180px;
    padding: 24px;
  }

  .horizon-reviews-item-top {
    display: flex;
    gap: 8px;
    align-items: center;
  }

  .horizon-reviews-text-bold {
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
  }

  .horizon-reviews-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    text-align: center;
  }
}

.horizon-faq {
  padding: 40px 16px;
  margin: auto;
  width: 375px;
}

.horizon-faq-container {
  padding-top: 32px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.horizon-faq-item {
  border-radius: 6px;
  padding-top: 32px;
  padding-right: 24px;
  padding-bottom: 32px;
  padding-left: 24px;
  background: rgba(240, 240, 240, 1);
}

.horizon-faq-question {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}

.horizon-toggle-button {
  background: none;
  border: none;
  cursor: pointer;
}

.horizon-faq-answer {
  display: none;
  padding-top: 8px;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  color: rgba(149, 153, 157, 1);
}

@media screen and (min-width: 1200px) {
  .horizon-faq {
    padding: 100px;
    width: 1440px;
  }
  .horizon-faq-container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .horizon-faq-item {
    border-radius: 6px;
    padding-top: 32px;
    padding-right: 24px;
    padding-bottom: 32px;
    padding-left: 24px;
  }

  .horizon-faq-question {
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .horizon-faq-answer {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }
}
.horizon-features {
  width: 375px;
  margin: auto;
  padding: 40px 16px;
}

.horizon-features-list {
  padding-top: 32px;
}

.horizon-features-item {
  margin: 0 5px;
  width: 340px;
  height: 176px;
  border-radius: 6px;
  background: rgba(51, 51, 51, 1);
  border: 1px solid rgba(255, 255, 255, 1);
  box-shadow: 2px 2px 15px 0px rgba(27, 28, 27, 0.4);
}

.horizon-features-text-bold {
  width: 338px;
  height: 50px;
  border-radius: 6px 6px 0 0;
  padding-top: 12px;
  padding-bottom: 12px;
  background: rgba(116, 116, 116, 1);
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1px;
  text-align: center;
  color: rgba(255, 255, 255, 1);
}

.horizon-features-text {
  color: rgba(169, 169, 169, 1);
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
  text-align: center;
  padding: 24px;
}

@media screen and (min-width: 1200px) {
  .horizon-features {
    width: 1440px;
    padding: 100px;
  }
  .horizon-features-list {
    padding-top: 60px;
  }

  .horizon-features-item {
    margin: 0 12px;
    width: 352px;
    height: 176px;
    border-radius: 6px;
  }

  .horizon-features-text-bold {
    width: 350px;
    height: 50px;
    padding-top: 12px;
    padding-bottom: 12px;
    font-family: Poppins;
    font-weight: 600;
    font-style: italic;
    font-size: 24px;
    line-height: 110.00000000000001%;
  }

  .horizon-features-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
    text-align: center;

    padding: 24px;
  }
}

.horizon-policy-terms-container {
  padding: 100px 16px 40px;
  width: 375px;
  margin: auto;
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;
}

.horizon-policy-terms-title {
  font-family: Poppins;
  font-weight: 700;
  font-style: italic;
  font-size: 40px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
  text-align: center;
}

.horizon-policy-terms-text {
  padding-top: 20px;
  font-family: Poppins;
  font-weight: 600;
  font-style: italic;
  font-size: 24px;
  line-height: 110.00000000000001%;
  letter-spacing: -1%;
}

.horizon-policy-terms-texts {
  padding-top: 8px;
}

.horizon-policy-terms-text-one {
  padding-top: 20px;
}

.horizon-terms-list {
  list-style-type: disc;
  padding: 20px 0 20px 25px;
  display: flex;
  flex-direction: column;
}

.horizon-terms-lists {
  list-style-type: disc;
  padding-left: 25px;
}

.horizon-email-link {
  color: inherit;
  text-decoration: none;
}

.horizon-email-link-color {
  color: inherit;
  text-decoration: none;
}

@media screen and (min-width: 1200px) {
  .horizon-policy-terms-container {
    padding: 124px 100px 60px;
    width: 1440px;
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;
  }

  .horizon-policy-terms-title {
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 60px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
    text-align: center;
  }

  .horizon-policy-terms-text {
    padding-top: 40px;
    font-family: Poppins;
    font-weight: 700;
    font-style: italic;
    font-size: 40px;
    line-height: 110.00000000000001%;
    letter-spacing: -1%;
  }

  .horizon-policy-terms-text-one {
    padding-top: 30px;
  }

  .horizon-terms-list {
    padding: 20px 0 20px 25px;
  }
}
.horizon-footer {
  width: 375px;
  margin: auto;
  color: #ffffff;
  background: rgba(51, 51, 51, 1);

  padding: 40px 0px 32px;
}

.horizon-footer-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
}

.horizon-footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.horizon-footer-text {
  text-decoration: none;
  color: #ffffff;
  font-family: Poppins;
  font-weight: 500;
  font-size: 18px;
}

.horizon-footer-copyright {
  font-family: Poppins;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  letter-spacing: 0%;
  vertical-align: middle;
}

@media screen and (min-width: 1200px) {
  .horizon-footer {
    width: 1440px;
    padding: 80px 100px 60px;
  }

  .horizon-footer-container {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 400px;
  }

  .horizon-footer-wrapper {
    display: flex;
    flex-direction: row;

    gap: 24px;
  }

  .horizon-footer-text {
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
  }

  .horizon-footer-copyright {
    font-family: Poppins;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 0%;
    vertical-align: middle;
  }
}

.horizon-cookie-popup {
  position: fixed;
  bottom: 10px;
  width: 375px;
  padding: 30px 16px;
  background: rgba(255, 255, 255, 1);

  z-index: 1000;
  display: none;
}

.horizon-cookie-popup-text-two {
  font-family: Poppins;
  font-weight: 400;
  font-size: 18px;
  line-height: 142%;
  letter-spacing: 0%;

  color: rgba(24, 27, 29, 1);
}

.horizon-cookie-button-container {
  padding: 30px 0 0;
  margin: auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.horizon-cookie-button {
  border: none;
  background-color: transparent;
  border: 1px solid rgba(51, 51, 51, 1);
  background: rgba(255, 255, 255, 1);
  width: 167.5px;
  border-radius: 4px;
  padding: 16px 0;
  font-family: Poppins;
  font-weight: 600;
  font-size: 16px;
  line-height: 100%;
  letter-spacing: 0%;
  text-transform: uppercase;
}

#accept-cookies {
  color: rgba(255, 255, 255, 1);
  background: rgba(51, 51, 51, 1);
}

.horizon-close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  cursor: pointer;
}

@media screen and (min-width: 1200px) {
  .horizon-cookie-popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .horizon-cookie-popup-text-two {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 142%;
    letter-spacing: 0%;

    width: 840px;
  }

  .horizon-cookie-button-container {
    padding: 0;
    margin: auto;
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .horizon-cookie-popup {
    position: fixed;
    bottom: 10px;
    width: 1440px;
    padding: 32px;
    display: none;
  }
}
